openapi: 3.0.3
info:
  title: FLYR PRO API
  description: |
    REST API for the FLYR PRO web application — a field prospecting platform for real estate agents.

    ## Important notes for contributors

    ### iOS coupling
    The iOS app (FLYR) calls many of these routes directly in production. Routes tagged
    with `x-ios-coupled: true` must not be modified without coordinating with iOS development.
    See ARCHITECTURE.md Section 10 for the full coupling map.

    ### Route status
    Each route has an `x-status` extension with one of the following values:
    - `working` — verified functional
    - `broken` — known to return incorrect results or errors
    - `stub` — exists but returns hardcoded/empty response
    - `unknown` — not verified

    ### Authentication
    Most routes require an authenticated Supabase session passed via cookies.
    iOS routes use a Bearer token in the Authorization header.
    Admin routes require the service role key or a founder-level entitlement.

  version: "1.0.0"
  contact:
    name: Harry Brown

servers:
  - url: https://flyrpro.app
    description: Production
  - url: https://www.flyrpro.app
    description: Production (www)
  - url: http://localhost:3000
    description: Local development

tags:
  - name: access
    description: Post-auth routing and access state
  - name: account
    description: User account management
  - name: accountability
    description: Accountability cards and posts
  - name: activity
    description: User activity feed
  - name: admin
    description: Founder/admin only routes
  - name: ai
    description: AI-powered flyer and image generation
  - name: ambassador
    description: Ambassador program
  - name: auth
    description: Authentication handoffs (used by iOS)
  - name: background
    description: Background removal utility
  - name: beacon
    description: Safety beacon (public session tracking)
  - name: billing
    description: Stripe and Apple IAP billing
  - name: brokerages
    description: Brokerage search and leaderboard
  - name: buildings
    description: Building data and management
  - name: campaigns
    description: Campaign CRUD, provisioning, addresses, buildings, routes
  - name: campaign-assignments
    description: Campaign assignment read and write APIs for team routing
  - name: canva
    description: Canva-style QR and flyer generation
  - name: challenges
    description: Challenges and rolling leaderboard
  - name: currency
    description: Currency detection utility
  - name: daily-content
    description: Daily quotes and riddles
  - name: docs
    description: Swagger UI for this OpenAPI spec
  - name: editor
    description: Flyer editor (Canva clone) — partially stubbed
  - name: farms
    description: Farm management and address sync
  - name: feedback
    description: User feedback submission
  - name: flyers
    description: Flyer management — partially stubbed
  - name: generate-qrs
    description: QR code generation for campaigns
  - name: home
    description: Home dashboard data
  - name: integrations
    description: CRM integrations (FUB, HubSpot, BoldTrail, monday, Zapier)
  - name: internal
    description: Internal build and provisioning webhooks
  - name: invites
    description: Workspace invite management
  - name: landing-page
    description: Landing page CTA tracking
  - name: leads
    description: Lead CRM sync
  - name: mapbox
    description: Mapbox tilequery proxy
  - name: meta
    description: Meta Ads OAuth, account discovery, campaign reads, and farm attribution sync
  - name: onboarding
    description: Onboarding completion
  - name: open
    description: Legacy QR scan redirect
  - name: partner-offer
    description: Partner offer onboarding
  - name: profile
    description: User profile management
  - name: q
    description: Modern slug-based QR scan redirect
  - name: qr
    description: QR code analytics, creation, deletion
  - name: qr-generation-jobs
    description: QR generation job status polling
  - name: routes
    description: Route plans and assignments
  - name: scan
    description: Legacy QR scan handler
  - name: share-card
    description: Challenge share cards
  - name: team
    description: Team dashboard, members, leaderboard, activity
  - name: upload-csv
    description: CSV recipient upload
  - name: user
    description: User goals
  - name: zip-qrs
    description: ZIP download of QR codes

# ─────────────────────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────────────────────
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sb-access-token
      description: Supabase session cookie (web)
    bearerAuth:
      type: http
      scheme: bearer
      description: Supabase JWT (iOS)

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: string

    Campaign:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        owner_id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        video_url:
          type: string
        scans:
          type: integer
        provision_status:
          type: string
        created_at:
          type: string
          format: date-time

    CampaignAddress:
      type: object
      properties:
        id:
          type: string
          format: uuid
        campaign_id:
          type: string
          format: uuid
        formatted:
          type: string
        address:
          type: string
        house_number:
          type: string
        street_name:
          type: string
        locality:
          type: string
        region:
          type: string
        postal_code:
          type: string
        qr_code_base64:
          type: string
          description: Base64-encoded QR PNG stored directly in DB. Written by /api/generate-qrs.
        purl:
          type: string
          description: Tracking URL encoded in QR. Points to /api/scan?id={address_id}.
        qr_png_url:
          type: string
          description: |
            Supabase Storage URL for QR PNG. NOT written by current generate-qrs.
            Filtered on by zip-qrs and vdp-manifest — this mismatch is a known bug.
        scans:
          type: integer
        last_scanned_at:
          type: string
          format: date-time
        visited:
          type: boolean
        seq:
          type: integer

    QRCode:
      type: object
      properties:
        id:
          type: string
          format: uuid
        campaign_id:
          type: string
          format: uuid
        address_id:
          type: string
          format: uuid
        slug:
          type: string
          description: 8-character alphanumeric short ID
        qr_url:
          type: string
          description: Full short URL e.g. https://flyrpro.app/q/{slug}
        destination_type:
          type: string
          enum: [landingPage, directLink]
        direct_url:
          type: string
        landing_page_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    Entitlement:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        plan:
          type: string
          enum: [free, pro, team]
        is_active:
          type: boolean
        source:
          type: string
          enum: [stripe, apple]
        current_period_end:
          type: string
          format: date-time

    Workspace:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        owner_id:
          type: string
          format: uuid
        subscription_status:
          type: string

    Building:
      type: object
      properties:
        id:
          type: string
          format: uuid
        gers_id:
          type: string
        campaign_id:
          type: string
          format: uuid

# ─────────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────────
paths:

  # ── ACCESS ──────────────────────────────────────────────────
  /api/access/redirect:
    get:
      tags: [access]
      summary: Resolve post-auth redirect
      description: |
        Resolves where to send a user after authentication. Used by the iOS app
        and web gate to determine the correct destination (onboarding, subscribe, dashboard).
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Features/Auth/Services/AccessAPI.swift:91
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "302":
          description: Redirects to appropriate destination
        "200":
          description: Returns redirect URL as JSON

  /api/access/state:
    get:
      tags: [access]
      summary: Get current access state
      description: |
        Returns the current user's access state including workspace, subscription status,
        and entitlement. Called by the web layout on every page load and by the iOS app.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Features/Auth/Services/AccessAPI.swift:110
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Access state object
        "401":
          description: Unauthorized

  # ── ACCOUNT ─────────────────────────────────────────────────
  /api/account/delete:
    delete:
      tags: [account]
      summary: Delete user account
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Account deleted
        "401":
          description: Unauthorized

  # ── ACCOUNTABILITY ───────────────────────────────────────────
  /api/accountability-card/latest:
    get:
      tags: [accountability]
      summary: Get latest accountability card
      x-status: broken
      description: |
        Returns 500 in current state. Pre-existing error unrelated to recent changes.
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Latest accountability card
        "500":
          description: Server error (known issue)

  /api/accountability-card:
    get:
      tags: [accountability]
      summary: Get accountability cards
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Accountability cards list
    post:
      tags: [accountability]
      summary: Create accountability card
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Created card

  /api/accountability-card/share:
    post:
      tags: [accountability]
      summary: Share accountability card
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Share result

  # ── ACTIVITY ────────────────────────────────────────────────
  /api/activity:
    get:
      tags: [activity]
      summary: Get user activity feed
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Activity events

  # ── ADMIN ───────────────────────────────────────────────────
  /api/admin/ambassadors:
    get:
      tags: [admin]
      summary: List ambassador applications
      x-status: working
      x-auth: founder
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Ambassador applications list

  /api/admin/ambassadors/{applicationId}:
    patch:
      tags: [admin]
      summary: Update ambassador application
      x-status: working
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Updated application

  /api/admin/ambassadors/{applicationId}/stripe-connect:
    post:
      tags: [admin]
      summary: Connect ambassador to Stripe
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Stripe connect result

  /api/admin/challenges:
    get:
      tags: [admin]
      summary: List challenge templates
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Challenge templates

  /api/admin/challenges/{id}:
    patch:
      tags: [admin]
      summary: Update challenge template
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Updated challenge

  /api/admin/inbox/feedback:
    get:
      tags: [admin]
      summary: Get feedback inbox
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Feedback items

  /api/admin/inbox/summary:
    get:
      tags: [admin]
      summary: Get inbox summary
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Inbox summary

  /api/admin/inbox/support:
    get:
      tags: [admin]
      summary: Get support inbox
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Support threads

  /api/admin/offers:
    get:
      tags: [admin]
      summary: List partner offers
      x-status: working
      x-auth: founder
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Partner offers list
    post:
      tags: [admin]
      summary: Create partner offer
      x-status: working
      x-auth: founder
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Created offer

  /api/admin/offers/{offerId}:
    get:
      tags: [admin]
      summary: Get partner offer
      x-status: working
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Partner offer
    patch:
      tags: [admin]
      summary: Update partner offer
      x-status: working
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Updated offer

  /api/admin/offers/{offerId}/qr:
    post:
      tags: [admin]
      summary: Generate QR for partner offer
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: QR code generated

  /api/admin/offers/{offerId}/revoke:
    post:
      tags: [admin]
      summary: Revoke partner offer
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Offer revoked

  /api/admin/offers/{offerId}/send-email:
    post:
      tags: [admin]
      summary: Send partner offer email
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Email sent

  /api/admin/workspaces/{workspaceId}/reset:
    post:
      tags: [admin]
      summary: Reset workspace
      x-status: unknown
      x-auth: founder
      security:
        - cookieAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Workspace reset

  # ── AI ───────────────────────────────────────────────────────
  /api/ai/flyer:
    post:
      tags: [ai]
      summary: Generate AI flyer
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Generated flyer

  /api/ai/flyer/save:
    post:
      tags: [ai]
      summary: Save AI-generated flyer
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Saved flyer

  /api/ai-flyer/generate:
    post:
      tags: [ai]
      summary: Generate AI flyer (alternate endpoint)
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Generated flyer

  /api/ai-flyer/image:
    post:
      tags: [ai]
      summary: Generate AI flyer image
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Generated image

  # ── AMBASSADOR ───────────────────────────────────────────────
  /api/ambassador/apply:
    post:
      tags: [ambassador]
      summary: Submit ambassador application
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Application submitted

  # ── AUTH ─────────────────────────────────────────────────────
  /api/auth/handoff:
    post:
      tags: [auth]
      summary: Create auth handoff token
      description: |
        Creates a short-lived handoff token for cross-surface authentication.
        Called by the iOS app to initiate a session handoff to the web app.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Services/OvertureAddressService.swift:344
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Handoff token created

  /api/auth/redeem-handoff:
    post:
      tags: [auth]
      summary: Redeem auth handoff token
      description: |
        Redeems a handoff token and establishes a web session.
        Called by the iOS app to complete a session handoff.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Services/OvertureAddressService.swift:365
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Session established

  # ── BACKGROUND REMOVER ───────────────────────────────────────
  /api/background-remover:
    post:
      tags: [background]
      summary: Remove image background
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Image with background removed

  # ── BEACON ───────────────────────────────────────────────────
  /api/beacon/{token}:
    get:
      tags: [beacon]
      summary: Get public safety beacon session
      description: Public route — no auth required. Used for safety beacon feature.
      x-status: unknown
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Beacon session data

  # ── BILLING ──────────────────────────────────────────────────
  /api/billing/apple/verify:
    post:
      tags: [billing]
      summary: Verify Apple IAP transaction
      description: |
        Called directly by the iOS app with a Bearer token to verify an Apple
        in-app purchase and update the user's entitlement. Do not modify without
        coordinating with iOS development.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Features/Billing/EntitlementsService.swift:120
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transactionId:
                  type: string
                productId:
                  type: string
      responses:
        "200":
          description: Entitlement updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  entitlement:
                    $ref: "#/components/schemas/Entitlement"
        "400":
          description: Invalid transaction
        "401":
          description: Unauthorized

  /api/billing/entitlement:
    get:
      tags: [billing]
      summary: Get current user entitlement
      description: |
        Returns the current user's entitlement (plan, status, expiry).
        Called by both the web app and the iOS app.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Features/Billing/EntitlementsService.swift:82
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Current entitlement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entitlement"
        "401":
          description: Unauthorized

  /api/billing/prices:
    get:
      tags: [billing]
      summary: Get Stripe price list
      x-status: working
      responses:
        "200":
          description: Available prices

  /api/billing/stripe/checkout:
    post:
      tags: [billing]
      summary: Create Stripe checkout session
      description: Creates a Stripe subscription checkout session for the current user.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: docs/IOS_WORKSPACE_AND_ONBOARDING_GUIDE.md:88
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                priceId:
                  type: string
                plan:
                  type: string
                  enum: [annual, monthly]
                currency:
                  type: string
                  enum: [USD, CAD]
                seats:
                  type: integer
      responses:
        "200":
          description: Checkout session URL
        "401":
          description: Unauthorized

  /api/billing/stripe/confirm-session:
    post:
      tags: [billing]
      summary: Confirm Stripe checkout session
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Session confirmed

  /api/billing/stripe/portal:
    post:
      tags: [billing]
      summary: Create Stripe customer portal session
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Portal URL

  /api/billing/stripe/referral:
    get:
      tags: [billing]
      summary: Get referral info
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Referral data

  /api/billing/stripe/seats:
    post:
      tags: [billing]
      summary: Update workspace seat count
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Seats updated

  /api/billing/stripe/webhook:
    post:
      tags: [billing]
      summary: Stripe webhook handler
      description: |
        Receives Stripe subscription lifecycle events. Verified via Stripe signature.
        Not called by the web UI — called by Stripe directly.
      x-status: working
      responses:
        "200":
          description: Webhook processed

  # ── BROKERAGES ───────────────────────────────────────────────
  /api/brokerages/search:
    get:
      tags: [brokerages]
      summary: Search brokerages
      description: Used during onboarding to find and select a brokerage.
      x-status: working
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 15
      responses:
        "200":
          description: Matching brokerages

  # ── BUILDINGS ────────────────────────────────────────────────
  /api/buildings/{gersId}:
    get:
      tags: [buildings]
      summary: Get building by GERS ID
      description: |
        Supports both cookie auth (web) and Bearer token auth (iOS).
        The route explicitly handles both patterns.
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: gersId
          in: path
          required: true
          schema:
            type: string
        - name: campaign_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Optional campaign filter used by iOS scan-count lookups.
      responses:
        "200":
          description: Building data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Building"
        "404":
          description: Building not found

  # ── CAMPAIGNS ────────────────────────────────────────────────
  /api/campaigns:
    post:
      tags: [campaigns]
      summary: Create campaign
      description: Creates a new campaign for the current user's workspace.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                workspace_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Created campaign
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "401":
          description: Unauthorized

  /api/campaigns/provision:
    post:
      tags: [campaigns]
      summary: Provision campaign addresses and buildings
      description: |
        Runs the cascading geocoder to generate address and building data for a campaign.
        Called by both the web app and the iOS app.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Feautures/Campaigns/CampaignsAPI.swift:555
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaign_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Provisioning started or completed
        "401":
          description: Unauthorized

  /api/campaigns/generate-address-list:
    post:
      tags: [campaigns]
      summary: Generate address list for campaign area
      description: |
        Generates a list of addresses within a campaign's target area.
        Called by the iOS app during campaign setup.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Services/OvertureAddressService.swift:185
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaign_id:
                  type: string
                  format: uuid
                address_limit:
                  type: integer
                starting_address:
                  type: string
                count:
                  type: integer
                  default: 50
                coordinates:
                  type: object
                polygon:
                  type: object
      responses:
        "200":
          description: Address list

  /api/campaign-assignments:
    get:
      tags: [campaign-assignments]
      summary: List active campaign assignments for a workspace
      description: |
        Returns active (`assigned` or `in_progress`) campaign assignments in a workspace.
        Route managers see all assignments; regular members only see assignments for
        the authenticated user. Each row includes a lightweight campaign summary.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Active campaign assignments
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignments:
                    type: array
                    items:
                      type: object
                  role:
                    type: string
        "400":
          description: workspaceId is required
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  /api/addresses-same-street:
    post:
      tags: [campaigns]
      summary: Find addresses on the same street
      description: Called by the iOS app to find neighboring addresses.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Services/OvertureAddressService.swift:277
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lat, lon, street]
              properties:
                lat:
                  type: number
                lon:
                  type: number
                street:
                  type: string
                locality:
                  type: string
                limit:
                  type: integer
                  default: 100
      responses:
        "200":
          description: Addresses on same street

  /api/campaigns/{campaignId}/addresses:
    get:
      tags: [campaigns]
      summary: Get campaign addresses
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Campaign addresses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CampaignAddress"

  /api/campaigns/{campaignId}/addresses/manual:
    post:
      tags: [campaigns]
      summary: Add manual address to campaign
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Address added

  /api/campaigns/{campaignId}/addresses/{addressId}/manual:
    delete:
      tags: [campaigns]
      summary: Remove manual address from campaign
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: addressId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Address removed

  /api/campaigns/{campaignId}/assignments:
    get:
      tags: [campaign-assignments]
      summary: Get campaign assignments
      description: |
        Returns assignment rows for a campaign, including assignee display names and
        assigned home sequences. Managers see all active assignments; assigned users
        only see their own assignments.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Campaign assignments
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign:
                    type: object
                  assignments:
                    type: array
                    items:
                      type: object
                  role:
                    type: string
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Campaign not found
    post:
      tags: [campaign-assignments]
      summary: Create campaign assignments
      description: |
        Cancels existing active assignments for the campaign, creates new assignments
        in `zone_split` or `whole_team` mode, optionally assigns ordered homes, and
        sends in-app/email notifications to assigned members.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspaceId, mode, memberIds]
              properties:
                workspaceId:
                  type: string
                  format: uuid
                mode:
                  type: string
                  enum: [zone_split, whole_team]
                memberIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                dueAt:
                  type: string
                  format: date-time
                  nullable: true
                notes:
                  type: string
                  nullable: true
                zoneAssignments:
                  type: array
                  items:
                    type: object
                    properties:
                      userId:
                        type: string
                        format: uuid
                      addressIds:
                        type: array
                        items:
                          type: string
                          format: uuid
      responses:
        "200":
          description: Created assignments and warnings
        "400":
          description: Invalid assignment request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Campaign not found in workspace

  /api/campaigns/{campaignId}/buildings:
    get:
      tags: [campaigns]
      summary: Get campaign buildings
      description: |
        Returns building data for all addresses in a campaign.
        Called by both web and iOS app.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Feautures/Campaigns/API/BuildingsAPI.swift:584
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Campaign buildings

  /api/campaigns/{campaignId}/buildings/{buildingId}:
    delete:
      tags: [campaigns]
      summary: Delete a campaign building
      description: Deletes a campaign building and any associated building/address links.
      x-status: working
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: buildingId
          in: path
          required: true
          description: Building row id, GERS id, or encoded snapshot building identifier.
          schema:
            type: string
      responses:
        "200":
          description: Building deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                    example: true
                  building_id:
                    type: string
                  deleted_address_ids:
                    type: array
                    items:
                      type: string
                  deleted_building_row:
                    type: boolean
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Building not found

  /api/campaigns/{campaignId}/buildings/{buildingId}/address-candidates:
    get:
      tags: [campaigns]
      summary: Get candidate addresses for a building
      description: |
        Returns nearby unlinked campaign addresses ranked for manual building assignment.
        If no trusted official candidate is found, the response may include a synthetic
        Mapbox reverse-geocode candidate.
      x-status: working
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: buildingId
          in: path
          required: true
          description: Building row id, GERS id, or encoded snapshot building identifier.
          schema:
            type: string
        - name: radius_m
          in: query
          required: false
          description: Search radius in meters, clamped between 1 and 120.
          schema:
            type: number
            default: 60
        - name: limit
          in: query
          required: false
          description: Maximum number of official candidates to return.
          schema:
            type: integer
            default: 15
        - name: force_reverse_geocode
          in: query
          required: false
          description: Include a Mapbox reverse-geocode candidate even when a trusted official candidate exists.
          schema:
            type: boolean
            default: false
        - name: seed_lat
          in: query
          required: false
          schema:
            type: number
        - name: seed_lng
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Candidate addresses for the building
          content:
            application/json:
              schema:
                type: object
                properties:
                  building_id:
                    type: string
                  radius_meters:
                    type: number
                  trust_decision:
                    type: object
                    properties:
                      used_reverse_geocode:
                        type: boolean
                      reason:
                        type: string
                      nearest_candidate_distance_m:
                        type: number
                        nullable: true
                      nearest_candidate_rejected_reason:
                        type: string
                        nullable: true
                  candidates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        candidate_type:
                          type: string
                          enum: [official, reverse_geocode]
                        is_synthetic:
                          type: boolean
                        formatted:
                          type: string
                          nullable: true
                        formatted_address:
                          type: string
                          nullable: true
                        house_number:
                          type: string
                          nullable: true
                        street_name:
                          type: string
                          nullable: true
                        street:
                          type: string
                          nullable: true
                        source:
                          type: string
                          nullable: true
                        coordinate:
                          type: object
                          properties:
                            longitude:
                              type: number
                            latitude:
                              type: number
                        distance_meters:
                          type: number
                        score:
                          type: number
                        reason:
                          type: string
                          nullable: true
                        candidate_reason:
                          type: string
                          nullable: true
                        confidence_label:
                          type: string
                        requires_confirmation:
                          type: boolean
                        trusted:
                          type: boolean
                        rejected_reason:
                          type: string
                          nullable: true
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Building not found
        "500":
          description: Failed to fetch address candidates

  /api/campaigns/{campaignId}/buildings/manual:
    post:
      tags: [campaigns]
      summary: Add manual building to campaign
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Building added

  /api/campaigns/{campaignId}/buildings/{buildingId}/manual:
    delete:
      tags: [campaigns]
      summary: Remove manual building from campaign
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: buildingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Building removed

  /api/campaigns/{campaignId}/buildings/{buildingId}/addresses:
    get:
      tags: [campaigns]
      summary: Get addresses for a building
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: buildingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Building addresses
    post:
      tags: [campaigns]
      summary: Add address to building
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: buildingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Address added
    delete:
      tags: [campaigns]
      summary: Remove address from building
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: buildingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Address removed

  /api/campaigns/{campaignId}/buildings/{buildingId}/nearby-addresses:
    get:
      tags: [campaigns]
      summary: Get nearby unlinked addresses for a building
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: buildingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Nearby addresses

  /api/campaigns/{campaignId}/flyer-upload:
    post:
      tags: [campaigns]
      summary: Upload campaign flyer
      description: Uploads a flyer image or PDF to Supabase Storage (flyers bucket).
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Flyer uploaded, returns storage URL

  /api/campaigns/{campaignId}/generate-basic-qr:
    post:
      tags: [campaigns]
      summary: Generate basic campaign-level QR code
      description: Generates a single QR code for the campaign (not per-address).
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: QR code generated

  /api/campaigns/{campaignId}/state:
    get:
      tags: [campaigns]
      summary: Get campaign address state changes
      description: Returns address status changes for a campaign, optionally scoped to the authenticated user's assigned addresses and filtered by an updated-at cursor.
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scope
          in: query
          required: false
          schema:
            type: string
            enum: [all, assigned_to_me]
            default: all
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Campaign state delta
        "401":
          description: Unauthorized
        "404":
          description: Campaign not found or access denied

  /api/campaigns/{campaignId}/diamond-manifest:
    get:
      tags: [campaigns]
      summary: Get campaign diamond map manifest
      description: Returns the campaign geometry manifest, delivery mode metadata, tile URL templates, source layer names, promote IDs, and state cursor for diamond/white-gold map rendering.
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Campaign map manifest
        "401":
          description: Unauthorized
        "404":
          description: Campaign not found or access denied

  /api/campaigns/{campaignId}/diamond-tiles/buildings/{z}/{x}/{y}.mvt:
    get:
      tags: [campaigns]
      summary: Get campaign diamond building vector tile
      description: Reads a building vector tile from the campaign PMTiles artifact and returns it as an MVT payload.
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: z
          in: path
          required: true
          schema:
            type: integer
        - name: x
          in: path
          required: true
          schema:
            type: integer
        - name: y
          in: path
          required: true
          schema:
            type: integer
        - name: access_token
          in: query
          required: false
          schema:
            type: string
        - name: token
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Mapbox vector tile
          content:
            application/vnd.mapbox-vector-tile:
              schema:
                type: string
                format: binary
        "204":
          description: Tile is missing or could not be read
        "401":
          description: Unauthorized
        "404":
          description: Campaign or PMTiles artifact not found

  /api/campaigns/{campaignId}/parcel-tiles/{z}/{x}/{y}.mvt:
    get:
      tags: [campaigns]
      summary: Get parcel vector tile for campaign region
      description: Reads the latest parcel PMTiles artifact for the campaign region and returns the requested MVT tile.
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: z
          in: path
          required: true
          schema:
            type: integer
        - name: x
          in: path
          required: true
          schema:
            type: integer
        - name: y
          in: path
          required: true
          schema:
            type: integer
        - name: access_token
          in: query
          required: false
          schema:
            type: string
        - name: token
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Mapbox vector tile
          content:
            application/vnd.mapbox-vector-tile:
              schema:
                type: string
                format: binary
        "204":
          description: Tile is missing or could not be read
        "401":
          description: Unauthorized
        "404":
          description: Campaign or parcel PMTiles artifact not found

  /api/campaigns/{campaignId}/parcels:
    get:
      tags: [campaigns]
      summary: Get scoped campaign parcels
      description: |
        Extracts campaign-scoped residential parcels from the campaign PMTiles snapshot.
        Returns an empty array when no snapshot, bbox, parcel artifact, or accessible
        parcel tile exists. Access-denied parcel artifacts are temporarily cached and
        suppressed to avoid repeated failed tile reads.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Campaign parcel rows
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    campaign_id:
                      type: string
                      format: uuid
                    external_id:
                      type: string
                    geom:
                      type: string
                    properties:
                      type: object
                    created_at:
                      type: string
                      format: date-time
        "401":
          description: Unauthorized
        "404":
          description: Campaign not found or access denied
        "500":
          description: Failed to extract campaign parcels

  /api/campaigns/{campaignId}/matches:
    get:
      tags: [campaigns]
      summary: Get campaign building matches
      x-status: unknown
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Match quality data

  /api/campaigns/{campaignId}/orphans:
    get:
      tags: [campaigns]
      summary: Get unlinked orphan addresses
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Orphan addresses

  /api/campaigns/{campaignId}/orphans/{orphanId}/assign:
    post:
      tags: [campaigns]
      summary: Assign orphan address to building
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: orphanId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Orphan assigned

  /api/campaigns/{campaignId}/roads/prepare:
    post:
      tags: [campaigns]
      summary: Prepare campaign road data
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Road preparation started

  /api/campaigns/{campaignId}/routes/optimize:
    get:
      tags: [campaigns]
      summary: Get optimized routes for campaign
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Optimized route data
    post:
      tags: [campaigns]
      summary: Generate optimized routes for campaign
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Routes generated

  /api/campaigns/{campaignId}/snap:
    post:
      tags: [campaigns]
      summary: Snap campaign addresses to roads
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Addresses snapped to roads

  /api/campaigns/{campaignId}/split-errors:
    get:
      tags: [campaigns]
      summary: Get building split errors
      x-status: unknown
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Split errors

  /api/campaigns/{campaignId}/split-errors/{errorId}/resolve:
    post:
      tags: [campaigns]
      summary: Resolve a building split error
      x-status: unknown
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: errorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Error resolved

  /api/campaigns/{campaignId}/units:
    get:
      tags: [campaigns]
      summary: Get campaign building units
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Building units
    post:
      tags: [campaigns]
      summary: Add building unit to campaign
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Unit added

  /api/campaigns/{campaignId}/vdp-manifest:
    get:
      tags: [campaigns]
      summary: Download VDP manifest CSV for professional printing
      description: |
        Generates a CSV file for Variable Data Printing. Each row contains
        address data and a QR URL for one print piece.

        **Currently broken:** Filters addresses on `qr_png_url IS NOT NULL`,
        but `generate-qrs` writes `qr_code_base64` instead — so this returns
        404 for campaigns generated only by the current `generate-qrs` route
        unless legacy/storage-backed `qr_png_url` rows already exist.
        Fix planned in Phase 3.

        No runtime web UI caller found — this route is not yet wired to a button.
      x-status: broken
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: VDP manifest CSV file
          content:
            text/csv:
              schema:
                type: string
        "404":
          description: No addresses with qr_png_url found

  # ── INTERNAL ─────────────────────────────────────────────────
  /api/internal/diamond-build:
    post:
      tags: [internal]
      summary: Queue diamond geometry build
      description: Starts a detached background diamond build command for a valid campaign UUID. Requires `DIAMOND_BUILD_WEBHOOK_SECRET` in production.
      x-status: working
      x-ios-coupled: false
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: string
                  format: uuid
                campaign_id:
                  type: string
                  format: uuid
                dryRun:
                  type: boolean
      responses:
        "202":
          description: Build queued
        "400":
          description: Valid campaignId is required
        "401":
          description: Unauthorized

  /api/internal/white-gold-build:
    post:
      tags: [internal]
      summary: Queue white-gold geometry build
      description: Starts a detached background white-gold build command for a valid campaign UUID. Requires `WHITE_GOLD_BUILD_WEBHOOK_SECRET` or `DIAMOND_BUILD_WEBHOOK_SECRET` in production.
      x-status: working
      x-ios-coupled: false
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: string
                  format: uuid
                campaign_id:
                  type: string
                  format: uuid
                dryRun:
                  type: boolean
      responses:
        "202":
          description: Build queued
        "400":
          description: Valid campaignId is required
        "401":
          description: Unauthorized

  # ── CANVA ────────────────────────────────────────────────────
  /api/canva/generate:
    post:
      tags: [canva]
      summary: Generate Canva-style QR flyer
      description: Generates a flyer with per-address QR codes embedded using Canva-style templating.
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Generated flyer data

  # ── CHALLENGES ───────────────────────────────────────────────
  /api/challenges:
    get:
      tags: [challenges]
      summary: List active challenges
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Challenges list

  /api/challenges/{challengeId}:
    get:
      tags: [challenges]
      summary: Get challenge detail
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: challengeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Challenge detail

  # ── CURRENCY ─────────────────────────────────────────────────
  /api/currency:
    get:
      tags: [currency]
      summary: Detect user currency
      x-status: working
      responses:
        "200":
          description: Detected currency code

  # ── DAILY CONTENT ────────────────────────────────────────────
  /api/daily-content:
    get:
      tags: [daily-content]
      summary: Get daily quote and riddle
      description: Returns cached daily content. Cache is refreshed once per day.
      x-status: working
      responses:
        "200":
          description: Daily content

  # ── DOCS ───────────────────────────────────────────────────────
  /api/docs:
    get:
      tags: [docs]
      summary: Serve Swagger UI
      description: Serves Swagger UI configured to load `/openapi.yaml`.
      x-status: working
      responses:
        "200":
          description: Swagger UI HTML
          content:
            text/html:
              schema:
                type: string

  # ── EDITOR ───────────────────────────────────────────────────
  /api/editor/ai/generate-image:
    post:
      tags: [editor]
      summary: Generate image via AI for editor
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Generated image

  /api/editor/ai/remove-bg:
    post:
      tags: [editor]
      summary: Remove background for editor
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Image with background removed

  /api/editor/icons:
    get:
      tags: [editor]
      summary: Get icon library for editor
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Icons list

  /api/editor/projects:
    get:
      tags: [editor]
      summary: List editor projects
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Editor projects
    post:
      tags: [editor]
      summary: Create editor project
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Created project

  /api/editor/projects/templates:
    get:
      tags: [editor]
      summary: List editor templates
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Templates list

  /api/editor/projects/{id}:
    get:
      tags: [editor]
      summary: Get editor project
      x-status: unknown
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Editor project
    patch:
      tags: [editor]
      summary: Update editor project
      x-status: unknown
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Updated project
    delete:
      tags: [editor]
      summary: Delete editor project
      x-status: unknown
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Project deleted

  /api/editor/projects/{id}/resources:
    get:
      tags: [editor]
      summary: Get editor project resources (QR codes, images)
      x-status: unknown
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Project resources

  /api/editor/subscriptions/billing:
    post:
      tags: [editor]
      summary: Editor subscription billing
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Billing result

  /api/editor/subscriptions/current:
    get:
      tags: [editor]
      summary: Get current editor subscription
      x-status: unknown
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Editor subscription

  # ── META ADS ────────────────────────────────────────────────
  /api/meta/oauth/start:
    get:
      tags: [meta]
      summary: Start Meta Ads OAuth
      description: |
        Validates the authenticated user and optional farm/workspace access, creates
        a signed OAuth state, and redirects to Meta's authorization URL.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: workspaceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "302":
          description: Redirect to Meta OAuth
        "401":
          description: Unauthorized
        "403":
          description: Access denied
        "404":
          description: Farm not found

  /api/meta/oauth/callback:
    get:
      tags: [meta]
      summary: Complete Meta Ads OAuth
      description: |
        Handles Meta's OAuth callback, exchanges the authorization code for a token,
        stores the encrypted Meta access token, upserts known ad accounts, and redirects
        back to the farm social ads tab with a connection status.
      x-status: working
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
        - name: error
          in: query
          required: false
          schema:
            type: string
      responses:
        "302":
          description: Redirect to farm or farms page with Meta connection status

  /api/meta/connection:
    get:
      tags: [meta]
      summary: Get current Meta Ads connection
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Public Meta connection state
        "401":
          description: Unauthorized

  /api/meta/ad-accounts:
    get:
      tags: [meta]
      summary: List Meta ad accounts
      description: Fetches Meta ad accounts with the stored token and upserts them into `meta_ad_accounts`.
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Meta ad accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  ad_accounts:
                    type: array
                    items:
                      type: object
        "401":
          description: Unauthorized or Meta connection missing

  /api/meta/campaigns:
    get:
      tags: [meta]
      summary: List Meta campaigns for an ad account
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: adAccountId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Meta campaigns
        "400":
          description: adAccountId is required
        "401":
          description: Unauthorized or Meta connection missing

  /api/meta/ads:
    get:
      tags: [meta]
      summary: List Meta ads and recent metrics for a campaign
      description: Returns ads for the Meta campaign plus a seven-day spend, impression, reach, click, and lead summary.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: campaignId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Meta ads, metrics summary, and metric window
        "400":
          description: campaignId is required
        "401":
          description: Unauthorized or Meta connection missing

  /api/meta/disconnect:
    delete:
      tags: [meta]
      summary: Disconnect Meta Ads
      description: Marks farm campaign links disconnected for the user's Meta connection and deletes the stored connection.
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Meta Ads disconnected
        "401":
          description: Unauthorized
        "500":
          description: Failed to disconnect Meta Ads

  # ── FARMS ────────────────────────────────────────────────────
  /api/farms:
    post:
      tags: [farms]
      summary: Create farm
      x-status: working
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, polygon]
              properties:
                name:
                  type: string
                campaign_name:
                  type: string
                  description: Optional name for the campaign linked to this farm. Defaults to name when omitted.
                description:
                  type: string
                  nullable: true
                polygon:
                  type: string
                  description: JSON-encoded GeoJSON Polygon
                workspace_id:
                  type: string
                  format: uuid
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                touches_interval:
                  type: string
                  enum: [month, year]
                goal_type:
                  type: string
                goal_target:
                  type: number
                touch_types:
                  type: array
                  items:
                    type: string
                annual_budget_cents:
                  type: integer
                include_social_ads_in_spend:
                  type: boolean
                home_limit:
                  type: integer
      responses:
        "200":
          description: Created farm
        "400":
          description: name and polygon are required
        "401":
          description: Unauthorized

  /api/farms/{farmId}:
    patch:
      tags: [farms]
      summary: Update farm
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
                  nullable: true
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                touches_per_interval:
                  type: number
                  nullable: true
                touches_interval:
                  type: string
                  enum: [month, year]
                  nullable: true
                goal_type:
                  type: string
                  nullable: true
                goal_target:
                  type: number
                  nullable: true
                cycle_completion_window_days:
                  type: number
                  nullable: true
                touch_types:
                  type: array
                  items:
                    type: string
                  nullable: true
                annual_budget_cents:
                  type: integer
                  nullable: true
                include_social_ads_in_spend:
                  type: boolean
                  nullable: true
      responses:
        "200":
          description: Updated farm
        "400":
          description: Farm name is required
        "401":
          description: Unauthorized
        "403":
          description: Access denied
        "404":
          description: Farm not found

  /api/farms/{farmId}/campaign:
    get:
      tags: [farms]
      summary: Get farm linked campaign
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Linked campaign
    post:
      tags: [farms]
      summary: Link campaign to farm
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Campaign linked
    patch:
      tags: [farms]
      summary: Update farm campaign link
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Link updated

  /api/farms/{farmId}/sync-addresses:
    post:
      tags: [farms]
      summary: Sync farm addresses
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Addresses synced

  /api/farms/{farmId}/meta-campaign-links:
    get:
      tags: [farms, meta]
      summary: Get Meta campaign links for a farm
      description: Returns linked Meta campaigns for a farm plus aggregated daily metrics.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Meta campaign links and metrics summary
        "401":
          description: Unauthorized
        "403":
          description: Access denied
    post:
      tags: [farms, meta]
      summary: Link a Meta campaign to a farm
      description: Upserts a farm-to-Meta campaign link after verifying the selected Meta ad account belongs to the authenticated user.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [meta_ad_account_id, meta_campaign_id]
              properties:
                meta_ad_account_id:
                  type: string
                meta_campaign_id:
                  type: string
                meta_campaign_name:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Linked Meta campaign
        "400":
          description: Required Meta campaign fields missing or ad account not selected
        "401":
          description: Unauthorized or Meta connection missing
        "403":
          description: Access denied

  /api/farms/{farmId}/meta-sync:
    post:
      tags: [farms, meta]
      summary: Sync Meta metrics for linked farm campaigns
      description: Pulls Meta campaign insight rows for all active links on the farm and writes daily metrics plus sync logs.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: farmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Sync result
        "400":
          description: No active Meta campaign links
        "401":
          description: Unauthorized or Meta Ads not connected
        "403":
          description: Access denied

  /api/farms/generate-address-list:
    post:
      tags: [farms]
      summary: Generate address list for farm area
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Address list

  # ── FEEDBACK ─────────────────────────────────────────────────
  /api/feedback:
    post:
      tags: [feedback]
      summary: Submit user feedback
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Feedback submitted

  # ── FLYERS ───────────────────────────────────────────────────
  /api/flyers/{flyerId}/add-qr:
    post:
      tags: [flyers]
      summary: Add QR code to flyer
      x-status: unknown
      security:
        - cookieAuth: []
      parameters:
        - name: flyerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: QR added to flyer

  /api/flyers/{flyerId}/export:
    post:
      tags: [flyers]
      summary: Export flyer
      description: |
        **Stub — not implemented.** Returns a TODO response.
        Server-side export functionality has not been built.
        The upload-to-storage and return-public-URL steps are all TODO comments.
      x-status: stub
      security:
        - cookieAuth: []
      parameters:
        - name: flyerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "501":
          description: Not implemented

  # ── GENERATE QRS ─────────────────────────────────────────────
  /api/generate-qrs:
    post:
      tags: [generate-qrs]
      summary: Generate QR codes for all campaign addresses
      description: |
        Generates a QR PNG for every address in a campaign and writes it to
        `campaign_addresses.qr_code_base64`. Also writes `campaign_addresses.purl`
        pointing at `/api/scan?id={address_id}`.

        **Known issue:** Does not write to the `qr_codes` table or Supabase Storage.
        This means `zip-qrs` and `vdp-manifest` — which filter on `qr_png_url` —
        return empty results for any campaign generated by this route.

        **iOS safe:** The iOS app does not call this route.

        Called by: campaign page (`app/(main)/campaigns/[campaignId]/page.tsx:592`)
        and farms page (`app/farms/[id]/page.tsx:1104`).
      x-status: working
      x-ios-coupled: false
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [campaignId]
              properties:
                campaignId:
                  type: string
                  format: uuid
                baseUrl:
                  type: string
                  description: Override base URL for QR tracking links. Defaults to NEXT_PUBLIC_APP_URL.
                trackable:
                  type: boolean
                  description: Accepted in the request body but not used by the current implementation.
                forceRegenerate:
                  type: boolean
                  default: true
                  description: If false, skips addresses that already have QR codes.
      responses:
        "200":
          description: QR codes generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                  message:
                    type: string
        "400":
          description: Missing campaignId
        "500":
          description: Generation error

  # ── HOME ─────────────────────────────────────────────────────
  /api/home/dashboard:
    get:
      tags: [home]
      summary: Get home dashboard data
      description: Returns stats, recent activity, and daily content for the home screen.
      x-status: working
      security:
        - cookieAuth: []
      parameters:
        - name: workspaceId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Dashboard data

  # ── INTEGRATIONS ─────────────────────────────────────────────
  /api/integrations/followupboss/connect:
    post:
      tags: [integrations]
      summary: Connect Follow Up Boss integration
      x-status: working
      x-ios-coupled: true
      x-note: iOS uses /api/integrations/fub/connect alias
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: FUB connected

  /api/integrations/followupboss/disconnect:
    post:
      tags: [integrations]
      summary: Disconnect Follow Up Boss integration
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: FUB disconnected

  /api/integrations/followupboss/oauth/start:
    get:
      tags: [integrations]
      summary: Start Follow Up Boss OAuth flow
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "302":
          description: Redirects to FUB OAuth

  /api/integrations/followupboss/oauth/callback:
    get:
      tags: [integrations]
      summary: Follow Up Boss OAuth callback
      x-status: working
      responses:
        "302":
          description: Redirects after OAuth

  /api/integrations/followupboss/push-lead:
    post:
      tags: [integrations]
      summary: Push lead to Follow Up Boss
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Lead pushed

  /api/integrations/followupboss/status:
    get:
      tags: [integrations]
      summary: Get Follow Up Boss connection status
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Connection status

  /api/integrations/followupboss/test:
    post:
      tags: [integrations]
      summary: Test Follow Up Boss connection
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Test result

  /api/integrations/followupboss/test-push:
    post:
      tags: [integrations]
      summary: Push a test lead to Follow Up Boss
      x-status: working
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Test lead pushed

  /api/integrations/followupboss/voice-log:
    post:
      tags: [integrations]
      summary: Log voice note to Follow Up Boss
      x-status: working
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Voice log created

  /api/integrations/hubspot/disconnect:
    post:
      tags: [integrations]
      summary: Disconnect HubSpot integration
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: HubSpot disconnected

  /api/integrations/hubspot/oauth/start:
    get:
      tags: [integrations]
      summary: Start HubSpot OAuth flow
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "302":
          description: Redirects to HubSpot OAuth

  /api/integrations/hubspot/oauth/callback:
    get:
      tags: [integrations]
      summary: HubSpot OAuth callback
      x-status: working
      responses:
        "302":
          description: Redirects after OAuth

  /api/integrations/hubspot/push-lead:
    post:
      tags: [integrations]
      summary: Push lead to HubSpot
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Lead pushed

  /api/integrations/hubspot/status:
    get:
      tags: [integrations]
      summary: Get HubSpot connection status
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Connection status

  /api/integrations/hubspot/test:
    post:
      tags: [integrations]
      summary: Test HubSpot connection
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Test result

  /api/integrations/boldtrail/connect:
    post:
      tags: [integrations]
      summary: Connect BoldTrail integration
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: BoldTrail connected

  /api/integrations/boldtrail/disconnect:
    post:
      tags: [integrations]
      summary: Disconnect BoldTrail integration
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: BoldTrail disconnected

  /api/integrations/boldtrail/push-lead:
    post:
      tags: [integrations]
      summary: Push lead to BoldTrail
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Lead pushed

  /api/integrations/boldtrail/status:
    get:
      tags: [integrations]
      summary: Get BoldTrail connection status
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Connection status

  /api/integrations/boldtrail/test:
    post:
      tags: [integrations]
      summary: Test BoldTrail connection
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Test result

  /api/integrations/monday/boards:
    get:
      tags: [integrations]
      summary: Get monday.com boards
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Boards list

  /api/integrations/monday/disconnect:
    post:
      tags: [integrations]
      summary: Disconnect monday.com integration
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: monday disconnected

  /api/integrations/monday/oauth/start:
    get:
      tags: [integrations]
      summary: Start monday.com OAuth flow
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "302":
          description: Redirects to monday OAuth

  /api/integrations/monday/oauth/callback:
    get:
      tags: [integrations]
      summary: monday.com OAuth callback
      x-status: working
      responses:
        "302":
          description: Redirects after OAuth

  /api/integrations/monday/select-board:
    post:
      tags: [integrations]
      summary: Select monday.com board for integration
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Board selected

  /api/integrations/monday/status:
    get:
      tags: [integrations]
      summary: Get monday.com connection status
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Connection status

  /api/integrations/zapier/connect:
    post:
      tags: [integrations]
      summary: Connect Zapier integration
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Zapier connected

  /api/integrations/zapier/disconnect:
    post:
      tags: [integrations]
      summary: Disconnect Zapier integration
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Zapier disconnected

  /api/integrations/zapier/push-lead:
    post:
      tags: [integrations]
      summary: Push lead to Zapier
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Lead pushed

  /api/integrations/zapier/status:
    get:
      tags: [integrations]
      summary: Get Zapier connection status
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Connection status

  /api/integrations/zapier/test:
    post:
      tags: [integrations]
      summary: Test Zapier connection
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Test result

  /api/integrations/test-lead:
    post:
      tags: [integrations]
      summary: Send test lead across all active integrations
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Test leads sent

  # ── FUB ALIASES (iOS compatibility) ──────────────────────────
  # These routes are aliases of the followupboss routes above.
  # They exist specifically for iOS compatibility and must not be removed.
  /api/integrations/fub/connect:
    post:
      tags: [integrations]
      summary: "[iOS alias] Connect Follow Up Boss"
      description: Alias of /api/integrations/followupboss/connect. Exists for iOS compatibility. Do not remove.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: FUB connected

  /api/integrations/fub/disconnect:
    post:
      tags: [integrations]
      summary: "[iOS alias] Disconnect Follow Up Boss"
      description: Alias for iOS compatibility.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: FUB disconnected

  /api/integrations/fub/push-lead:
    post:
      tags: [integrations]
      summary: "[iOS alias] Push lead to Follow Up Boss"
      description: Alias for iOS compatibility.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lead pushed

  /api/integrations/fub/status:
    get:
      tags: [integrations]
      summary: "[iOS alias] Get Follow Up Boss connection status"
      description: Alias for iOS compatibility.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: FUB connection status

  /api/integrations/fub/test:
    post:
      tags: [integrations]
      summary: "[iOS alias] Test Follow Up Boss connection"
      description: Alias for iOS compatibility.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Test result

  /api/integrations/fub/test-push:
    post:
      tags: [integrations]
      summary: "[iOS alias] Push a test lead to Follow Up Boss"
      description: Alias for iOS compatibility.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Test lead pushed

  /api/integrations/fub/voice-log:
    post:
      tags: [integrations]
      summary: "[iOS alias] Log voice note to Follow Up Boss"
      description: Alias for iOS compatibility.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Voice log created

  /api/integrations/fub/oauth/start:
    get:
      tags: [integrations]
      summary: "[iOS/web alias] Start Follow Up Boss OAuth flow"
      description: Alias for iOS/web compatibility.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      security:
        - bearerAuth: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
        - name: access_token
          in: query
          schema:
            type: string
      responses:
        "302":
          description: Redirects to FUB OAuth

  /api/integrations/fub/oauth/callback:
    get:
      tags: [integrations]
      summary: "[iOS/web alias] Follow Up Boss OAuth callback"
      description: Alias for iOS/web compatibility.
      x-status: working
      x-ios-coupled: true
      x-ios-alias: true
      responses:
        "302":
          description: Redirects after OAuth

  # ── INVITES ──────────────────────────────────────────────────
  /api/invites/accept:
    post:
      tags: [invites]
      summary: Accept workspace invite
      x-status: working
      x-ios-coupled: true
      x-ios-caller: FLYR/Features/Invites/Services/InviteService.swift
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Invite accepted

  /api/invites/create:
    post:
      tags: [invites]
      summary: Create workspace invite
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Invite created with link

  /api/invites/validate:
    get:
      tags: [invites]
      summary: Validate invite token
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Invite validity and metadata

  # ── LANDING PAGE ─────────────────────────────────────────────
  /api/landing-page/cta-click:
    post:
      tags: [landing-page]
      summary: Record landing page CTA click
      x-status: working
      responses:
        "200":
          description: Click recorded

  # ── LEADS ────────────────────────────────────────────────────
  /api/leads/sync-crm:
    post:
      tags: [leads]
      summary: Sync leads to connected CRM
      x-status: working
      x-ios-coupled: true
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Leads synced

  # ── MAPBOX ───────────────────────────────────────────────────
  /api/mapbox/tilequery-buildings:
    post:
      tags: [mapbox]
      summary: Proxy Mapbox tilequery for buildings
      description: Proxies Mapbox tilequery API to avoid exposing the access token client-side.
      x-status: working
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Tilequery results

  # ── ONBOARDING ───────────────────────────────────────────────
  /api/onboarding/complete:
    post:
      tags: [onboarding]
      summary: Complete onboarding flow
      description: Called after the user finishes the onboarding wizard. Creates workspace and profile.
      x-status: working
      x-ios-coupled: true
      x-ios-caller: docs/IOS_WORKSPACE_AND_ONBOARDING_GUIDE.md:87
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                workspaceName:
                  type: string
                industry:
                  type: string
                  enum: [Real Estate, Logistics, Sales, Pest Control, HVAC, Insurance, Solar, Other]
                referralCode:
                  type: string
[...]
